@if (Model.IsSuperAdmin || Model.IsAdmin)
{
    <li class="nav-item dropdown">
        <a id="adminDropdown" class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-lock"></i> Admin
        </a>
        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
            
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="AdminFlight">
                    <i class="fa-solid fa-plane"></i> Flights Management
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="AdminHotel">
                    <i class="fa-solid fa-hotel"></i> Hotels Management
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="AdminRental">
                    <i class="fa-solid fa-car"></i> Rentals Management
                </a>
            </li>
            <!-- More dropdown items can be added here -->
        </ul>
    </li>
}
