@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mb-4">
    <div class="jumbotron">
        <h1>Welcome to JourneyNest!</h1>
        <p>Find the best deals on flights, hotels, and car rentals Canada wide!</p>
        <img class="img-fluid home-img mb-4" src="../Logo.jpg" alt="JourneyNest Logo" />
    </div>

    <form asp-controller="Search" asp-action="Index" method="get" class="search-form border border-2 p-3 rounded-2 home-search m-auto">
        <input type="text" name="destination" placeholder="Where are you going?" class="m-1">
        <input type="date" name="checkIn" class="m-1">
        <input type="date" name="checkOut" class="m-1">
        <button type="submit" class="btn btn-primary m-1">Search</button>
    </form>


</div>
