@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mb-4">
    <div class="jumbotron">
        <h1>Welcome to JourneyNest!</h1>
        <p>Find the best deals on flights, hotels, and car rentals Canada wide!</p>
        <img class="img-fluid home-img mb-4" src="../Logo.jpg" alt="JourneyNest Logo" />
    </div>
</div>

<div class="row">
    <div class="col">
        <h5 class="display-3 text-center">Hotel Search</h5>
        <form asp-controller="Search" asp-action="HotelSearch" method="get" class="search-form p-3 home-search m-auto border border-2 rounded-2">
            <div class="row g-3 align-items-center justify-content-center">
                <div class="col-md-4">
                    <select name="destination" class="form-select">
                        <option value="">Province</option>
                        <option>Alberta</option>
                        <option>British Columbia</option>
                        <option>Manitoba</option>
                        <option>New Brunswick</option>
                        <option>Newfoundland</option>
                        <option>Nova Scotia</option>
                        <option>Ontario</option>
                        <option>Prince Edward Island</option>
                        <option>Quebec</option>
                        <option>Saskatchewan</option>
                        <option>Northwest Territories</option>
                        <option>Nunavut</option>
                        <option>Yukon</option>
                    </select>
                </div>

                <div class="col-sm-3">
                    <select name="rating" class="form-select">
                        <option value="">Stars</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <input type="date" name="checkIn" class="form-control" placeholder="Check-In">
                </div>

                <div class="col-md-3">
                    <input type="date" name="checkOut" class="form-control" placeholder="Check-Out">
                </div>

                <div class="col-md-2">
                    <button type="submit" class="btn btn-success w-100">Search</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col">
        <h5 class="display-3 text-center">Flight Search</h5>
        <form asp-controller="Flight" asp-action="Search" method="get" class="search-form p-3 home-search m-auto  border border-2 rounded-2">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="departure" class="col-form-label">Departure</label>
                </div>
                <div class="col-sm">
                    <select id="departure" name="departure" class="form-select">
                        <option>YYC</option>
                        <option>YVR</option>
                        <option>YWG</option>
                        <option>YQM</option>
                        <option>YYT</option>
                        <option>YHZ</option>
                        <option>YYZ</option>
                        <option>YYG</option>
                        <option>YUL</option>
                        <option>YXE</option>
                        <option>YZF</option>
                        <option>YFB</option>
                        <option>YXY</option>
                    </select>
                </div>

                <div class="col-auto">
                    <label for="destination" class="col-form-label">Destination</label>
                </div>
                <div class="col-sm">
                    <select id="destination" name="destination" class="form-select">
                        <option>YYC</option>
                        <option>YVR</option>
                        <option>YWG</option>
                        <option>YQM</option>
                        <option>YYT</option>
                        <option>YHZ</option>
                        <option>YYZ</option>
                        <option>YYG</option>
                        <option>YUL</option>
                        <option>YXE</option>
                        <option>YZF</option>
                        <option>YFB</option>
                        <option>YXY</option>
                    </select>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-success mt-3">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <h5 class="display-3 text-center">Rental Search</h5>
        <form asp-controller="Rental" asp-action="Search" method="get" class="search-form p-3 home-search m-auto  border border-2 rounded-2">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="vehicleName" class="col-form-label">Vehicle Name</label>
                </div>
                <div class="col-md-3">
                    <input type="text" name="vehicleName" class="form-control" placeholder="">
                </div>

                <div class="col-auto">
                    <label for="vehicleType" class="col-form-label">Vehicle Type</label>
                </div>
                <div class="col-sm">
                    <select id="vehicleType" name="vehicleType" class="form-select">
                        <option></option>
                        <option>SUV</option>
                        <option>Sedan</option>
                        <option>Coupe</option>
                        <option>Hatchback</option>
                        <option>Convertible</option>
                    </select>
                </div>

                <div class="col-auto">
                    <label for="state" class="col-form-label">Province</label>
                </div>
                <div class="col-md-4">
                    <select name="state" class="form-select">
                        <option value="">Province</option>
                        <option>Alberta</option>
                        <option>British Columbia</option>
                        <option>Manitoba</option>
                        <option>New Brunswick</option>
                        <option>Newfoundland</option>
                        <option>Nova Scotia</option>
                        <option>Ontario</option>
                        <option>Prince Edward Island</option>
                        <option>Quebec</option>
                        <option>Saskatchewan</option>
                        <option>Northwest Territories</option>
                        <option>Nunavut</option>
                        <option>Yukon</option>
                    </select>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-success mt-3">Search</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>