@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mb-4">
    <div class="jumbotron">
        <h1>Welcome to JourneyNest!</h1>
        <p>Find the best deals on flights, hotels, and car rentals Canada wide!</p>
        <img class="img-fluid home-img mb-4" src="../Logo.jpg" alt="JourneyNest Logo" />
    </div>
</div>